.main {
    margin: 16px auto;
    width: 100%;
    max-width: 1200px;

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;

        .top__content {
            background-image: url('/assets/img/nazca.svg');
            background-repeat: no-repeat;
            background-position: right top;
            width: 100%;

            @media screen and (max-width: 768px) {
                padding: 0px 24px;
                background-size: 75%;
                background-position: right -100% top 10%;
            }

            &--title {
                margin-top: 80px;
                font-size: 42px;
                font-weight: 700;

                @media screen and (max-width: 768px) {
                    margin-top: 40px;
                    font-size: 28px;
                }
            }

            &--description {
                margin-top: 24px;
                font-size: 20px;
                color: #979797;
                width: 50%;
                margin-bottom: 132px;

                @media screen and (max-width: 768px) {
                    font-size: 16px;
                    width: 80%;
                    max-width: 300px;
                    margin-bottom: 48px;
                }

                .link {
                    color: #dd0031;
                    font-weight: 600;
                }
            }
        }
    }

    &__filter {
        margin-bottom: 48px;
        display: flex;
        gap: 24px;

        @media screen and (max-width: 768px) {
            padding: 0px 24px;
            margin-bottom: 24px;
        }

        .filter__select {
            width: 100%;
            max-width: 200px;
            height: 32px;
            border: #d9d9d9 1px solid;
            border-radius: 4px;
        }
    }

    &__listCommunity {
        @media screen and (max-width: 768px) {
            padding: 0px 24px;
        }
    }
}