<header class="header">
    <a href="/">
        <img src="./assets/img/logo.svg" alt="Logo peruanos.dev">
    </a>
    <!-- <nav>
        <ul>
            <li><a href="#">Eventos</a></li>
        </ul>
    </nav> -->
    <!-- <button class="header__btn">
        <img src="./assets/img/icon-theme.svg" alt="Icon Theme">
    </button> -->
    <a class="header__btn" href="https://github.com/peruanosdev/peruanos.github.io" target="_blank">
        <img src="./assets/img/icon-github.svg" alt="Icon Github">
    </a>
</header>